@model AisleViewModel
@{
    ViewData["Title"] = "Aisle";
}

<h1 class="display-4">Aisles</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aisles[0].AisleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aisles[0].Products)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Aisles)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.AisleId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Products)
                </th>
            </tr>
        }
    </tbody>
</table>